# **PYTHON DERS 1**

Print() Fonksiyonu Kullanımı

In [1]:
print("Hello World!")

Hello World!

In [2]:
print(112)

112

In [3]:
print("I am", 40, "years old.")

I am 40 years old.

In [ ]:
a = 12
b = "Anne"
print(a)
print(b)

In [5]:
x = str(3)
y = int(3)
z = float(3)
print(x,y,z)

3 3 3.0

In [6]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [7]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [8]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

**Python Data Type**

In [ ]:
#Text Type:	str

a= "Mehmet"

In [14]:
#Numeric Types:	int, float, complex
a= 2
b= 2.5
c= 1j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
#Sequence Types:	list, tuple, range
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = range(6)
print(type(x))

<class 'list'>
<class 'tuple'>
<class 'range'>

In [12]:
#Mapping Type:	dict
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [ ]:
#Set Types:	set, frozenset
x = {"apple", "banana", "cherry"}
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

In [ ]:
#Boolean Type:	bool
x = True
print(type(x))

In [13]:
#None Type:	NoneType
x = None
print(type(x))

<class 'NoneType'>